[Unit]
Description=Reload repositories on push.
Documentation=https://github.com/andrewyazura/systemd-webhook
After=network-online.target

[Service]
ExecStart=sudo /path/to/venv/python /path/to/main.py 4567
Restart=always

[Install]
WantedBy=multi-user.target